asyncio>=3.4.3
requests==2.23.0
botbuilder-core
botframework-connector
botbuilder-schema
botbuilder-dialogs
botbuilder-ai
botbuilder-applicationinsights
botbuilder-integration-applicationinsights-aiohttp
datatypes-date-time
opencensus-ext-azure
azure-cognitiveservices-language-luis>=0.7.0
msrest
